%table.centertable
  %tr
    %th Sort by: 
    %th.tblstyl= sortable "rent", "Rent"
    %th.tblstyl= sortable "lease_start", "Start Date"
    %th.tblstyl= sortable "lease_length", "Length of Lease"
    %th.tblstyl= sortable "lease_type", "Type"